.key {
  grid-column: auto / span 40;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1px solid #c4c4c4;
  margin: 0 1px;
  font-size: 15px;
  line-height: 15px;
  color: #777;

  border-radius: 3px;
}

.key.special {
  font-size: 12px;
  /* justify-content: end; */
}

.key.bigonetwo {
  grid-column: auto / span 68;
}

.key.bigthree {
  grid-column: auto / span 74;
}

.key.bigfour {
  grid-column: auto / span 94;
}

.key.ctrl {
  grid-column: auto / span 90;
}

.key.option {
  grid-column: auto / span 70;
}

.key.space {
  grid-column: auto / span 280;
}

.key.empty {
  grid-column: auto / span 78;
}

/* Current */
.key.current {
  background-color: #79bbff !important;
  color: #fff;
}
